.ordersWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;

    .ordersCard {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px
    
    }
}
